{% extends 'base.html'%}

{% block css %}
{% endblock %}


{% block content %}
<div class="container" ng-controller="NovaCtrl">
    <div class="row">
      <!-- left column -->
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="card card-warning">
          <div class="card-header bg-color2">
            <h3 class="card-title">Dados da nova máquina</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body" ng-cloak>
              <div class="row">
                {{fields.selectField(3,"Locador","Selecione um locador","x.local for x in locadores","novaMaquina.id_sys_user")}}
                {{fields.textField(3,"Nome","Insira o nome da máquina","novaMaquina.nome") }}
                {{fields.selectField(3,"Tema","Selecione um tema","x.tema for x in temas","novaMaquina.id_tema")}}
                
                <div class="col-sm-3">
                  <!-- select -->
                  <div class="form-group">
                    <label>&nbsp</label>
               
                    <div class="container-login100-form-btn">
                      <div class="wrap-login100-form-btn" style="border-radius: 5px;">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" style="height: 40px;" data-toggle="modal" data-target="#modal-novoTema">
                          Novo Tema
                        </button>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                {{fields.textAreaField(6,"Descrição",3,"Descrição","novaMaquina.descricao") }}
                {{fields.numberField(3,"Valor","R$0.00","novaMaquina.preco") }}
                {{fields.checkField(3,"Ativo","ATIVO","INATIVO","novaMaquina.ativa")}}
              </div>

              {{ fields.button("CADASTRAR","cadastraMaquina(novaMaquina)","") }}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements disabled -->
       
        <!-- /.card -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
 


<!-- ==================================MODALS=============================================== -->

  <div class="modal fade bd-example-modal-lg" id="modal-novoTema" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-color2">
          <h4 class="modal-title" id="myLargeModalLabel">Novo Tema</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Insira o nome do tema" ng-model="NovoTemaValue">
          </div>


          {{ fields.button("CADASTRAR TEMA","cadastraTema(NovoTemaValue)","") }}

        </div>
        
      </div>
    </div>
  </div>

</div>
{% endblock %}


{% block js %}
<script src="{{ randomJs(url_for('static', filename="angularJS/todosAngular.js")) }}" data-semver="1.4.3"></script>
{% endblock %}

