<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="login/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="login/style.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="dist/css/style.css") }}">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/css/util.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/css/main.css") }}">
    
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{"login/fonts/iconic/css/material-design-iconic-font.min.css" | url_to }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="login/css/button.css") }}">

	<title>Login</title>
	<style>
		.wd{
			background-color:#373435;
			margin:0 auto;
			margin-top:10%;
			border-radius:20px;
			padding: 20px;
			max-width: 400px;
		}
		.er{
			margin-top: 20px;
		}
	</style>
</head>
<body class="bg-color-orig">
    <div class="limiter">
	     <div class="container"> <!--style="background-image: url('{{"login/images/bg-01.jpg" | url_to }}');"> -->
			<form action="login" method="POST">
				{{form.csrf_token}}
				<div class="row">
					<div class="col-10 wd">
						<div class="text-center">
							<span class="login100-form-title p-b-49">
								<img src="{{ randomJs(url_for('static', filename="dist/img/logo2.png")) }}" class="logo">
								<h1>Login</h1>
							</span>
						</div>
						<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
							<span class="label-input100">Usuário</span>
							{{form.userName(placeholder="usuario",class="input100")}}
							{% if form.errors.userName %}
								<div class="alert alert-danger" role="alert">
								{{form.errors.userName}}
								</div>
							{% endif %}
							<span class="focus-input100" data-symbol="&#xf206;"></span>
						</div>

						<div class="wrap-input100 validate-input" data-validate="Password is required">
							<span class="label-input100">Senha</span>
							{{form.password(placeholder="senha",class="input100")}}
							{% if form.errors.password %}
								<div class="alert alert-danger" role="alert">
								{{form.errors.password}}
								</div>
							{% endif %}
							<span class="focus-input100" data-symbol="&#xf190;"></span>
						</div>
						
						<div class="container-login100-form-btn">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn bg-color"></div>
								<button class="login100-form-btn" type="submit">
									Entrar
								</button>
							</div>
						</div>

						{% with messages = get_flashed_messages() %}
							{% if messages %}
							<div class="alert alert-danger er" role="alert">
							<ul class="flashes">
								{% for message in messages %}
								<li>{{message}}</li>
								{% endfor %}
							</ul>
							</div>
							{% endif %}
						{% endwith %}

					</div>
				</div>
			</form>
		</div>
    </div>
</body>
</html>